* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  color: #444;
  background-color: #fafafa;
}

.overlay,
.overlay-error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(230, 230, 230, 0.3);
}

.overlay {
  z-index: 1;
}

.overlay-error {
  z-index: 100;
}

.hidden {
  display: none;
}

/* Spinner */

.spinner-border {
  display: inline-block;
  width: 5.2rem;
  height: 5.2rem;
  vertical-align: text-bottom;
  border-width: 0.2em;
  border-style: solid;
  border-color: #dfdfdf #dfdfdf #dfdfdf transparent;
  border-radius: 50%;
  animation: spinner-border 0.95s linear infinite;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@keyframes spinner-border {
  100% {
    transform: rotate(360deg);
  }
}

/* ~ ~ ~ ~ ~ */
/*  HEADER   */
/* ~ ~ ~ ~ ~ */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo_img {
  height: 2.5rem;
}

.logo_text {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
  color: #444;
}

/* MENU: DEFAULT */

.menu {
  display: flex;
  align-items: center;
  position: relative;
}

.menu__account,
.menu__popup_account {
  display: flex;
  position: relative;
  cursor: pointer;
}

.account__avatar {
  border-radius: 50%;
  background-color: #faecff;
  width: 3.2rem;
  height: 3.2rem;
}

.account__username {
  margin: auto 1.3rem auto 0.9rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #444;
}

.menu__account:hover .account__avatar {
  filter: brightness(90%);
}

.menu__account:active .account__avatar {
  filter: brightness(80%);
}

.menu__account:hover .account__avatar,
.menu__account:active .account__avatar {
  box-shadow: 0 0 2.2rem #f6f6f6;
}

.menu__account:hover .account__username {
  color: #555;
}

.menu__account:active .account__username {
  color: #888;
}

.menu__btn--open {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding-top: 0.3rem;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #bbb;
  background-color: transparent;
  transition: transform 0.3s ease-in;
}

.menu__btn--open:hover {
  background-color: #eee;
}

.menu__btn--open:active {
  background-color: #ccc;
}

/* MENU: POPUP */

.menu__popup {
  display: none;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  min-width: 200px;
  background: #fff;
  z-index: 2;
  overflow-y: auto;
  border-radius: 6%;
  box-shadow: 0 0px 1rem rgba(200, 200, 200, 0.3);
}

.menu__popup.active {
  display: block;
}

.menu__popup_top {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem 1rem 0.1rem;
}

.menu__popup_account {
  padding-left: 1.2rem;
  cursor: auto;
}

.menu__btn--close {
  cursor: pointer;
  margin-left: auto;
  border: 1px solid #eee;
  padding-bottom: 10px;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #aaa;
  background-color: #f4f4f4;
  transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}

.menu__btn--close:hover {
  background-color: #eee;
}

.menu__popup_main {
  background-color: #fff;
  padding: 1.2rem;
}

.menu__popup_item {
  padding: 0.9rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #eee;
}

.menu__popup_item:last-child {
  border-bottom: none;
}

.menu__popup_item a {
  display: block;
  text-decoration: none;
  color: #555;
}

.menu__popup_item a:hover {
  color: #6eb034;
}

/* ------- */
/*   APP   */
/* ------- */

.app {
  position: relative;
  width: 1140px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 2rem;
  margin-top: 7rem;
  margin-bottom: 4rem;
  margin-left: calc((100% - 1140px) / 2 - 21px);
  margin-right: calc((100% - 1140px) / 2 + 21px);
}

/* GROUP */

.group__header-container {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4rem;
  margin-bottom: 2rem;
}

.group__header-container .group__header {
  cursor: pointer;
}

.group__img,
.group__title {
  display: inline;
  vertical-align: middle;
}

.group__img {
  border-radius: 50%;
  background-color: #faecff;
  width: 4.3rem;
  height: 4.3rem;
}

.group__title {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 3.7rem;
  font-weight: 800;
  margin-left: 0.8rem;
  margin-right: 3.5rem;
}

.group__header-container .group__title:hover {
  color: #666;
}

.group__modal {
  display: none;
  position: absolute;
  top: -2.3rem;
  left: 1rem;
  padding: 2.5rem 3rem;
  min-width: 500px;
  background: #fff;
  z-index: 2;
  overflow-y: auto;
  border-radius: 2rem;
  box-shadow: 0 0px 1rem rgba(100, 100, 100, 0.3);
}

.group__modal.active {
  display: block;
}

.group__modal_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.group__modal_main {
  margin-top: 2.6rem;
  margin-bottom: 1rem;
}

.group__modal_item {
  display: block;
  padding: 1rem;
  margin-bottom: 0.4rem;
  border-radius: 1.2rem;
  color: #666;
  text-decoration: none;
}

.group__modal_item:hover {
  background-color: #f8f8f8;
}

.group__modal_item.link:hover {
  cursor: pointer;
  color: #6eb034;
}

.group__modal_item span,
.group__modal_item p {
  display: inline-block;
  vertical-align: middle;
}

.group__modal_item span {
  font-weight: 300;
  font-size: 2.7rem;
}

.group__modal_item p {
  font-size: 1.7rem;
  margin-left: 1.5rem;
  margin-bottom: 0;
}

.group__switch--container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 8px;
}

.group__switch {
  margin-left: 4.6rem;
  min-width: 22rem;
  vertical-align: middle;
  height: 3rem;
  padding: 0.2rem 1rem;
  border: 1px solid #aaa;
  border-radius: 0.6rem;
  font-family: inherit;
  color: #666;
  font-size: 1.7rem;
  appearance: none;
  cursor: pointer;
  position: relative;
}

.group__switch:hover {
  box-shadow: 0 0px 1rem rgba(100, 100, 100, 0.3);
}

.custom-arrow::after {
  content: 'arrow_drop_down';
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  margin-left: -30px;
  z-index: 3;
  font-family: 'Material Symbols Outlined';
  font-size: 2rem;
  pointer-events: none;
}

.group__switch_btn {
  position: relative;
  vertical-align: middle;
  height: 3rem;
  margin-left: 1.7rem;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #888;
  background-color: #f3f3f3;
  font-size: 1.5rem;
  padding: 0 2rem;
  border: 1px solid #bbb;
  border-radius: 0.6rem;
  transition: background-color 0.2s ease;
}

.group__switch_btn.active {
  background-color: #6eb034;
  color: #fff;
  border: 'none';
  font-weight: 600;
  cursor: pointer;
}

.group__switch_btn.active:hover {
  background-color: #66a330;
}

.group__switch_btn.active:active {
  background-color: #508125;
}

.group__switch_btn.active:hover,
.group__switch_btn.active:active {
  box-shadow: 0 0px 1.2rem rgba(102, 163, 48, 0.5);
}

/* ------------------ */
/*  ADD TRANSACTIONS  */
/* ------------------ */

.add-transactions {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  margin-top: 4.6rem;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.add-expense__btn,
.add-repayment__btn {
  cursor: pointer;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  height: 3.4rem;
  width: 14.7rem;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  transition: transform 0.4s ease;
}

.add-expense__btn {
  background-color: #f97e4b;
}

.add-expense__btn:hover {
  background-color: #ea7746;
}

.add-expense__btn:active {
  background-color: #c35121;
}

.add-expense__btn:hover,
.add-expense__btn:active {
  box-shadow: 0 0 2.5rem #ecc9bb;
}

.add-repayment__btn {
  background-color: #82b968;
}

.add-repayment__btn:hover {
  background-color: #75ae5b;
  box-shadow: 0 0 2.5rem #c5debd;
}

.add-repayment__btn:active {
  background-color: #497d31;
  box-shadow: 0 0 2.5rem #c5debd;
}

/*  ADD TRANSACTION: Expense + Repayment */

.add-transaction__form_main,
.add-transaction__form_hidden {
  position: fixed;
  align-items: center;
  background: #fff;
  z-index: 3;
  overflow-y: auto;
  border-radius: 1.5rem;
  box-shadow: 0 0px 1rem rgba(100, 100, 100, 0.3);
}

.add-transaction__form_main {
  width: 457px;
  z-index: 3;
}

.add-transaction__form_hidden {
  min-width: 457px;
  z-index: 4;
}

.add-transaction__form_header {
  width: 100%;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  padding: 2rem 0;
}

.add-transaction__form_main .add-transaction__form_body {
  padding: 3rem 1.5rem 3rem 4rem;
}

.add-transaction__form_hidden .add-transaction__form_body {
  padding: 3rem 4rem;
}

.add-transaction__form_field {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  height: 3.2rem;
}

.add-transaction__form_label {
  display: inline-block;
  align-content: center;
  align-items: center;
  position: relative;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  color: #555;
  font-weight: 600;
  width: 13rem;
}

.add-transaction__form_input-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.add-transaction__form_input-text {
  border: none;
  font-family: inherit;
  color: #777;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.7rem;
  width: 25rem;
  padding: 0.5rem 0.8rem;
  box-sizing: border-box;
}

.add-transaction__form_input-text::placeholder {
  color: #aaa;
}

.field-splitt {
  margin-top: 2.8rem;
  margin-bottom: 0rem;
  height: 1.8rem;
}

.field-splitt-comment {
  margin-bottom: 0.8rem;
}

.add-transaction__form_input-date {
  width: 14rem;
}

.add-transaction__form_input-switch {
  margin-left: 0.8rem;
  padding: 0.5rem 0.8rem;
  min-width: 18rem;
  max-width: 22rem;
  font-family: inherit;
  font-size: 1.6rem;
  color: #777;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #aaa;
  border-radius: 0.6rem;
  cursor: pointer;
}

.add-transaction__form_input-switch:hover {
  box-shadow: 0 0px 1rem rgba(120, 120, 120, 0.3);
}

.add-transaction__form_btn-edit {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin-left: 0.9rem;
  padding: 0.3rem 0.7rem;
  border-radius: 0.8rem;
  color: #666;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.add-transaction__form_btn-edit:hover {
  background-color: #ebebeb;
  color: #555;
  box-shadow: 0 0px 1.2rem rgba(200, 200, 200, 0.3);
}

.add-transaction__form_btn-edit:active {
  background-color: #e3e3e3;
  transform: translateY(3%);
}

.add-transaction__form_input-splitt-comment {
  margin-top: 0.1rem;
  margin-left: 14.1rem;
  font-size: 1.3rem;
  color: #777;
}

.splitt-balance-note__amount.negative {
  color: rgb(233, 116, 116);
}

.splitt-balance-note__amount.positive {
  color: rgb(123, 167, 47);
}

.splitt-balance-note__amount.hidden {
  display: none;
}

.add-transaction__form_btn-close,
.add-transaction__form_btn-submit {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  border-radius: 1.3rem;
  padding: 0.6rem 1.5rem;
  margin: auto 1rem;
  background-color: #f3f3f3;
  transition: background-color 0.2s ease;
}

.add-transaction__form_btn-close {
  cursor: pointer;
  border: 1px solid #777;
  color: #555;
  font-weight: 500;
  transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}

.add-transaction__form_btn-close:hover {
  background-color: #eaeaea;
  box-shadow: 0 0px 1.8rem rgba(200, 200, 200, 0.3);
}

.add-transaction__form_btn-close:active {
  transform: translateY(0.2rem);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #e3e3e3;
}

.add-transaction__form_btn-submit {
  color: #999;
  border: 1px solid #aaa;
}

.add-transaction__form_footer {
  display: flex;
  margin-top: 4.2rem;
  margin-bottom: 0.6rem;
  justify-content: center;
  align-items: center;
}

/* ADD TRANSACTION: Loading */

.add-transaction__loading-body,
.delete-transaction__loading-body {
  display: flex;
  flex-direction: column;
  padding-top: 7.5rem;
  text-align: center;
  height: 325px;
  width: 100%;
}

.add-transaction__loading-body .spinner-border,
.delete-transaction__loading-body .spinner-border {
  margin: 0 auto;
  width: 11rem;
  height: 11rem;
  border-width: 0.3rem;
  animation: spinner-border 1.1s linear infinite;
}

.add-transaction__loading-body .spinner-caption,
.delete-transaction__loading-body .spinner-caption {
  margin-top: 3.2rem;
  color: #888;
  font-weight: 500;
  font-size: 1.6rem;
}

/* ADD TRANSACTION: Success */

.add-transaction__success-body {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  text-align: center;
  height: 400px;
  width: 100%;
}

.add-transaction__success-body .add-transaction__form_footer {
  margin-top: auto;
  margin-bottom: 5rem;
}

.add-transaction__success-body .add-transaction__form_btn-close {
  width: 11.5rem;
}

/* ADD EXPENSE: Splitt Form */

.add-transaction__form_splitt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splitt-form__toggle {
  display: flex;
  background-color: #eee;
  border-radius: 2rem;
}

.splitt-form__toggle input[type='radio'] {
  display: none;
}

.splitt-form__toggle label {
  padding: 0.3rem 2rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  color: #555;
}

.splitt-form__toggle input[type='radio']:checked + label {
  background-color: #9a9999;
  color: #fafafa;
  font-weight: 700;
}

.splitt-form__table {
  min-width: 93%;
  margin-top: 3rem;
  display: none;
}

.splitt-form__table.active {
  display: block;
}

.splitt-form__equally,
.splitt-form__parts,
.splitt-form__shares {
  min-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.splitt-form__equally tr,
.splitt-equally-checkbox,
.splitt-parts__row,
.splitt-parts-amount,
.splitt-shares__row,
.splitt-form__shares input {
  cursor: pointer;
}

.splitt-form__equally tr:hover,
.splitt-parts__row:hover,
.splitt-shares__row:hover {
  background-color: #f9f9f9;
}

.splitt-form__equally td,
.splitt-parts__row td,
.splitt-shares__row td {
  border: 1px solid #e9e9e9;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 3px;
  padding-bottom: 3px;
}

.splitt-parts__row-separator,
.splitt-shares__row-separator {
  height: 2.8rem;
}

.splitt-form__equally img,
.splitt-form__equally input,
.splitt-form__parts img,
.splitt-form__shares img {
  display: block;
  margin: auto;
}

.splitt-form__parts input,
.splitt-form__shares input {
  background-color: transparent;
}

.splitt-form__equally img,
.splitt-form__parts img,
.splitt-form__shares img {
  height: 2.7rem;
  width: 2.7rem;
}

.splitt-equally-column__checkbox {
  width: 2.8rem;
}

.splitt-equally-column__avatar,
.splitt-parts-column__avatar,
.splitt-shares-column__avatar {
  width: 4.2rem;
}

.splitt-equally-column__username,
.splitt-parts-column__username,
.splitt-shares-column__username {
  min-width: 16rem;
  padding-left: 6px;
  padding-right: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #666;
}

.splitt-equally-column__amount,
.splitt-parts-column__amount,
.splitt-shares-column__amount,
.payer-table-column__amount {
  min-width: 6.7rem;
  text-align: right;
  padding-left: 10px;
  padding-right: 6px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #777;
}

.splitt-equally__row.inactive td,
.splitt-parts__row.inactive td,
.splitt-shares__row.inactive td,
.splitt-parts__row.inactive input,
.splitt-shares__row.inactive input {
  color: #ccc;
}

.splitt-equally__row.inactive img,
.splitt-parts__row.inactive img,
.splitt-shares__row.inactive img {
  opacity: 0.4;
}

.splitt-parts__row-total,
.splitt-shares__row-total,
.payer-table-row__total {
  color: #555;
  font-weight: 700;
  font-size: 1.7rem;
  white-space: nowrap;
}

.splitt-parts__row-remainder,
.splitt-shares__row-remainder,
.payer-table-row__remainder {
  color: #fff;
  font-weight: 400;
  font-size: 1.7rem;
  white-space: nowrap;
}

.splitt-parts__row-remainder.below-expense-amount,
.splitt-shares__row-remainder.below-expense-amount,
.payer-table-row__total.below-expense-amount,
.payer-table-row__remainder.below-expense-amount {
  color: #aaa;
}

.splitt-parts__row-remainder.above-expense-amount,
.splitt-shares__row-remainder.above-expense-amount,
.payer-table-row__remainder.above-expense-amount {
  color: rgba(255, 85, 85, 0.8);
}

.splitt-parts-column__total-label,
.splitt-parts-column__remainder-label,
.splitt-shares-column__total-label,
.splitt-shares-column__remainder-label,
.payer-table-column__total-label,
.payer-table-column__remainder-label {
  padding-left: 10px;
}

.splitt-shares-column__total-label,
.splitt-shares-column__remainder-label {
  min-width: 180px;
}

.splitt-parts-column__total-amount,
.splitt-parts-column__remainder-amount,
.splitt-shares-column__total-share,
.splitt-shares-column__total-amount,
.splitt-shares-column__remainder-share,
.splitt-shares-column__remainder-amount,
.payer-table-column__total-amount,
.payer-table-column__remainder-amount {
  text-align: right;
  padding-right: 6px;
  padding-left: 16px;
}

.splitt-amount__input,
.payer-amount__input {
  margin-left: auto;
  right: 0;
  border: none;
  font-family: inherit;
  color: #777;
  font-size: 1.5rem;
  text-align: right;
  width: 7.8rem;
}

.splitt-share__input {
  right: 0;
  margin-left: auto;
  margin-right: 0.6rem;
  border: none;
  font-family: inherit;
  color: #777;
  font-size: 1.5rem;
  text-align: right;
  width: 7rem;
}

/* ADD EXPENSE: Payer Form */

.payer-table {
  margin-left: -1.5rem;
  border-collapse: collapse;
  border-spacing: 0;
}

.payer-table-row {
  cursor: pointer;
}

.payer-table-row td:nth-child(n + 2) {
  border: 1px solid #e9e9e9;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 3px;
  padding-bottom: 3px;
  transition: background-color 0.15s ease-in;
}

.payer-table-row:hover td:nth-child(n + 2) {
  background-color: #f9f9f9;
}

.remove-payer-button {
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.payer-table-row:hover .remove-payer-button {
  opacity: 1;
}

.payer-table-column__remove-payer {
  width: 1.7rem;
  font-size: 1.4rem;
  color: #999;
}

.payer-table-column__remove-payer:hover {
  color: red;
}

.payer-table-column__remove-payer:active {
  color: rgb(170, 10, 10);
}

.payer-table-column__remove-payer.inactive,
.payer-table-column__remove-payer.inactive:hover,
.payer-table-column__remove-payer.inactive:active {
  visibility: hidden;
  cursor: auto;
}

.payer-table-column__avatar {
  width: 4.2rem;
}

.payer-table-column__username {
  min-width: 16rem;
  padding-left: 6px;
  padding-right: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #666;
}

.payer__switch {
  border: none;
  border-radius: 0.6rem;
  font-family: inherit;
  color: #666;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.2rem 1rem;
  appearance: none;
  background: none;
  outline: none;
}

.payer-table-column__avatar img {
  display: block;
  margin: auto;
}

.payer-table-column__amount input {
  background: transparent;
}

.payer-table-column__amount {
  padding-left: 10px;
  padding-right: 6px;
}

.payer-amount__input {
  background: transparent;
  cursor: pointer;
}

.payer-table-column__add-payer {
  padding-top: 15px;
  padding-bottom: 50px;
}

.add-payer-button {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: #999;
  transition: color 0.15s ease-in;
}

.add-payer-button:hover {
  color: #f97e4b;
}

.add-payer-button:active {
  transform: translateY(0.1rem);
}

.add-payer-icon {
  font-size: 1.2rem;
}

.add-payer-caption {
  margin-left: 0.4rem;
  font-size: 1.4rem;
  padding-bottom: 3px;
}

.add-payer-button.hidden {
  visibility: hidden;
  cursor: auto;
}

.payer-table-row__total {
  visibility: hidden;
}

.payer-table-row__total.hidden,
.payer-table-row__remainder.hidden {
  visibility: hidden;
}

/* ADD TRANSACTION: Note Form */

.add-transaction__form_note-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-transaction__form_input-note {
  font-family: inherit;
  color: #6b6b6b;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 2rem;
  width: 100%;
  height: 27rem;
  border-radius: 1.2rem;
  border: 1px solid #bbb;
  resize: none;
}

.add-transaction__form_input-note::placeholder {
  color: #aaa;
  font-weight: 300;
}

.add-transaction__form_input-note:focus {
  outline: none;
}

.add-transaction__form_input-note__counter {
  display: flex;
  justify-content: right;
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #999;
  font-weight: 500;
}

/* Emoji Picker */

.emoji-input {
  display: none;
  width: 44px;
  font-size: 2.4rem;
  cursor: default;
  outline: none;
}

.emoji-input.active {
  display: inline-flex;
}

.emoji-default {
  padding-left: 8px;
  padding-right: 8px;
  width: 44px;
  font-size: 2.4rem;
  cursor: pointer;
}

.btn__emoji-picker--switch,
.btn__emoji-remove {
  font-size: 2.2rem;
  cursor: pointer;
  transition: transform 0.05s ease-in;
}

.btn__emoji-picker--switch {
  color: #777;
  font-size: 2.5rem;
  font-weight: 300;
  margin-left: 0.9rem;
  width: 37px;
}

.btn__emoji-restore-default {
  color: #ccc;
  font-size: 1.8rem;
  height: 100%;
  font-weight: 300;
  min-width: 3rem;
  cursor: pointer;
}

.btn__emoji-remove {
  display: none;
  font-weight: 300;
  color: #bbb;
  min-width: 8rem;
}

.btn__emoji-remove.active {
  display: flex;
}

.btn__emoji-picker--switch.hidden {
  display: none;
}

.btn__emoji-picker--switch:hover {
  color: #5c9144;
  transform: translateY(-0.06rem);
}

.btn__emoji-restore-default:hover {
  color: #80bf64;
  font-weight: 400;
}

.btn__emoji-picker--switch:active,
.btn__emoji-restore-default:active {
  color: #497d31;
  transform: translateY(0rem);
}

.btn__emoji-remove:hover {
  color: red;
}

.btn__emoji-remove:active {
  color: rgb(193, 8, 8);
}

.emoji-picker-container {
  display: none;
  position: fixed;
  margin-left: 30rem;
  z-index: 4;
}

.emoji-picker-container.active {
  display: block;
}

.add-expense__btn--submit.active,
.add-repayment__btn--submit.active {
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.4s ease;
}

/*  ADD EXPENSE  */

.add-expense__form,
.add-expense__form_payer,
.add-expense__form_splitt,
.add-expense__form_note,
.add-expense__form_emoji {
  display: none;
}

.add-expense__form.active,
.add-expense__form_payer.active,
.add-expense__form_splitt.active,
.add-expense__form_note.active,
.add-expense__form_emoji.active {
  display: block;
}

.add-expense__form,
.add-repayment__form {
  position: fixed;
  z-index: 2;
}

.add-expense__form_header {
  background-color: #f97e4b;
}

.add-expense__form_hidden_header,
.add-expense__form_note__btn--save.active {
  background-color: #c9653b;
}

.add-expense__btn-edit.active {
  border: 1px solid rgb(201, 101, 59);
  background-color: rgba(201, 101, 59, 0.1);
}

.add-transaction__form_input-note#expense-note:focus {
  border: 1.3px solid rgba(201, 101, 59, 0.5);
}

.add-expense__form_note__btn--save.active:hover {
  box-shadow: 0 0px 1.2rem rgba(201, 101, 59, 0.5);
}

.add-expense__form_note__btn--save.active:active {
  background-color: #af5933;
  box-shadow: 0 0px 1rem rgba(201, 101, 59, 0.2);
}

.add-expense__btn--submit.active {
  background-color: #f97e4b;
  border: 1px solid #f97e4b;
}

.add-expense__btn--submit.active:hover {
  background-color: #ea7746;
  border: 1px solid #ea7746;
}

.add-expense__btn--submit.active:active {
  background-color: #c35121;
  border: 1px solid #c35121;
}

.add-expense__btn--submit.active:hover,
.add-expense__btn--submit.active:active {
  box-shadow: 0 0px 1.2rem #ecc9bb;
}

/*  ADD REPAYMENT  */

.add-repayment__form,
.add-repayment__form_note {
  display: none;
}

.add-repayment__form.active,
.add-repayment__form_note.active {
  display: block;
}

.add-repayment__form_header {
  background-color: #8cbf74;
}

.add-repayment__form_hidden_header,
.add-repayment__form_note__btn--save.active {
  background-color: #5c9144;
}

.add-repayment__btn-edit.active {
  border: 1px solid rgb(92, 145, 68);
  background-color: rgba(92, 145, 68, 0.1);
}

.add-transaction__form_input-note#repayment-note:focus {
  border: 1.3px solid rgba(92, 145, 68, 0.9);
}

.add-repayment__form_note__btn--save.active:hover {
  box-shadow: 0 0px 1.2rem rgba(92, 145, 68, 0.5);
}

.add-repayment__form_note__btn--save.active:active {
  background-color: #719560;
  box-shadow: 0 0px 1rem rgba(92, 145, 68, 0.2);
}

.add-repayment__btn--submit.active {
  background-color: #8cbf74;
  border: 1px solid #8cbf74;
}

.add-repayment__btn--submit.active:hover {
  background-color: #75ae5b;
  border: 1px solid #75ae5b;
}

.add-repayment__btn--submit.active:active {
  background-color: #497d31;
  border: 1px solid #497d31;
}

.add-repayment__btn--submit.active:hover,
.add-repayment__btn--submit.active:active {
  box-shadow: 0 0px 1.2rem #c5debd;
}

/*  ADD TRANSACTIONS: SUBMIT  */

.submit-transaction__success-icon-container {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-transaction__success-icon {
  font-size: 20rem;
  font-variation-settings: 'wght' 300;
  animation: grow-rotate 0.5s ease-in-out forwards;
}

.submit-transaction__success-icon.expense {
  color: #fa9468;
}

.submit-transaction__success-icon.repayment {
  color: #8cbf74;
}

.submit-transaction__success-caption {
  color: #6a6a6a;
  font-size: 2rem;
  font-weight: 600;
}

@keyframes grow-rotate {
  0% {
    font-size: 0.2rem;
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

/* ---------------------- */
/*   DELETE TRANSACTION   */
/* ---------------------- */

.delete-transaction {
  position: fixed;
  margin-top: 10rem;
  margin-left: 17rem;
  align-items: center;
  background: #fff;
  z-index: 2;
  overflow-y: auto;
  border-radius: 1.5rem;
  min-width: 400px;
  max-width: 480px;
  box-shadow: 0 0px 1rem rgba(100, 100, 100, 0.3);
}

.delete-expense__modal,
.delete-repayment__modal {
  visibility: hidden;
}

.delete-expense__modal.active,
.delete-repayment__modal.active {
  visibility: visible;
}

.delete-transaction__header {
  width: 100%;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  padding: 2rem 0;
}

.delete-transaction__body {
  padding: 3rem 6rem;
  font-size: 1.8rem;
  color: #777;
}

.delete-transaction__body p {
  text-align: center;
}

.delete-transaction__table {
  margin: 3rem auto;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.delete-transaction__table td {
  border: 1px solid #e9e9e9;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  white-space: nowrap;
}

.delete-transaction__table-label {
  padding-right: 20px;
}

.delete-transaction__table-value {
  padding-right: 25px;
}

.delete-transaction__footer {
  display: flex;
  margin-top: 4.5rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.delete-transaction__footer button {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  border-radius: 1.3rem;
  padding: 0.6rem 1.5rem;
  margin: auto 1rem;
  cursor: pointer;
  transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;
}

.delete-transaction__btn-close {
  background-color: #f3f3f3;
  border: 1px solid #777;
  color: #555;
  font-weight: 500;
}

.delete-transaction__btn-close:hover {
  background-color: #eaeaea;
  box-shadow: 0 0px 1.8rem rgba(200, 200, 200, 0.3);
}

.delete-transaction__btn-close:active {
  transform: translateY(0.2rem);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #e3e3e3;
}

.delete-transaction__btn-delete {
  color: #fff;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

/* Delete Transaction: Success */

.delete-transaction__success-body {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  text-align: center;
  height: 400px;
  width: 100%;
}

/* Delete Transaction: Expense */

.delete-transaction__header.delete-expense {
  background-color: #f97e4b;
}

.delete-transaction__btn-delete.delete-expense {
  background-color: #f97e4b;
  border: 1px solid #f97e4b;
}

.delete-transaction__btn-delete.delete-expense:hover {
  background-color: #ea7746;
  border: 1px solid #ea7746;
}

.delete-transaction__btn-delete.delete-expense:active {
  background-color: #c35121;
  border: 1px solid #c35121;
}

.delete-transaction__btn-delete.delete-expense:hover,
.delete-transaction__btn-delete.delete-expense:active {
  box-shadow: 0 0px 1.2rem #ecc9bb;
}

/* Delete Transaction: Repayment */

.delete-transaction__body.delete-repayment {
  max-width: 520px;
}

.delete-transaction__header.delete-repayment {
  background-color: #8cbf74;
}

.delete-transaction__btn-delete.delete-repayment {
  background-color: #8cbf74;
  border: 1px solid #8cbf74;
}

.delete-transaction__btn-delete.delete-repayment:hover {
  background-color: #75ae5b;
  border: 1px solid #75ae5b;
}

.delete-transaction__btn-delete.delete-repayment:active {
  background-color: #497d31;
  border: 1px solid #497d31;
}

.delete-transaction__btn-delete.delete-repayment:hover,
.delete-transaction__btn-delete.delete-repayment:active {
  box-shadow: 0 0px 1.2rem #c5debd;
}

/* ---------------- */
/*   TRANSACTIONS   */
/* ---------------- */

.transactions {
  font-size: 1.5rem;
  grid-column: 1;
  grid-row: 2 / span 2;
  overflow: scroll;
}

.transactions__container {
  height: 100%;
}

.transactions-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.transactions-table__annotation-row {
  height: 30px;
}

.transactions-table__annotation {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  color: #555;
  padding-bottom: 8px;
  padding-right: 10px;
}

.transactions-table__row {
  height: 58px;
}

.transactions-table__row td {
  cursor: pointer;
}

.transactions-table__row td:not(:first-child) {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
  background-color: #fff;
  transition: all 0.2s ease-in;
  position: relative;
}

.transactions-table__row:hover td:nth-child(n + 2) {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}

.transactions-table__row:active {
  transform: translateY(0.1rem);
}

.transactions-table__row.repayment td:nth-child(n + 2) {
  background-color: #f7fcf4;
}

.transactions-table__row .transactions-table__delete {
  padding-top: 0.6rem;
}

.transactions-table__delete:hover .transactions-table__delete-btn {
  color: red;
}

.transactions-table__delete {
  width: 4rem;
  height: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;
}

.transactions-table__delete-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: #999;
  font-size: 2.2rem;
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.transactions-table__row:hover .transactions-table__delete-btn {
  opacity: 1;
}

.transactions-table__date {
  width: 86px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: #666;
}

.transactions-table__icon {
  padding-top: 0.8rem;
  font-size: 1.6rem;
  width: 37px;
  text-align: center;
}

.transactions-table__title {
  width: auto;
  font-size: 1.7rem;
  padding-left: 0.3rem;
  padding-right: 1rem;
  line-height: 1.1;
  font-weight: 600;
  color: #555;
  white-space: normal;
  word-break: break-word;
}

.transactions-table__amount-total,
.transactions-table__amount-share {
  white-space: nowrap;
  text-align: right;
  padding-left: 15px;
  padding-right: 10px;
  width: 1%;
}

.transactions-table__amount-total {
  padding-left: 50px;
  color: #666;
}

/* TRANSACTIONS: Empty, Error */

.transactions__empty,
.transactions__error {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
  padding-top: 30px;
}

.transactions__empty h1 {
  color: #555;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.transactions__empty p {
  color: #999;
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 4rem;
  line-height: 2.5rem;
}

.transactions__empty span {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

.transactions__empty span:hover {
  text-decoration: none;
}

.transactions__empty .add-expense-link {
  color: #ea7746;
}

.transactions__empty .add-expense-link:hover {
  color: #f97e4b;
}

.transactions__empty .add-expense-link:active {
  color: #fb976c;
}

.transactions__empty .add-repayment-link {
  color: #75ae5b;
}

.transactions__empty .add-repayment-link:hover {
  color: #82b968;
}

.transactions__empty .add-repayment-link:active {
  color: #8fc974;
}

/* TRANSACTIONS: Loading */

.transactions__loading {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.transactions__loading .spinner-caption {
  margin-top: 2.2rem;
  color: #555;
}

/* ----------- */
/*   SUMMARY   */
/* ----------- */

.summary {
  padding: 2rem;
  color: #333;
  background-color: #f6f6f6;
  border-left: 4px solid #eee;
}

.summary-container {
  grid-column: 2;
  display: grid;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.summary h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #444;
}

.summary p {
  font-size: 1.7rem;
  margin-top: 1rem;
  line-height: 1.4;
  color: #555;
}

/* SUMMARY: Table */

.summary__table {
  margin-top: 1.4rem;
}

.summary__table--row {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.summary__table--row .account__avatar {
  margin-right: 0.8rem;
}

.summary__table--user {
  font-weight: 500;
  line-height: 1;
  max-height: 2em;
  align-content: center;
  box-sizing: border-box;
  overflow: hidden;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.summary__table--amount {
  font-weight: 300;
  margin-left: auto;
  padding-left: 10px;
}

/* SUMMARY: Loading, Empty, Error */

.summary.loading,
.summary.empty,
.summary.error {
  height: 110px;
}

.summary.loading {
  border-left: 4px solid #ddd;
  background: linear-gradient(300deg, #fafafa, #f6f6f6, #fafafa);
  background-size: 400% 400%;
  animation: wave 2.7s ease-in-out infinite;
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* SUMMARY: STATUS */

.status-container {
  grid-row: 1;
  margin-top: 30px;
}

.status.neutral {
  border-left: 4px solid #747474;
}

.status-positive {
  background-color: #f9fcf3;
  border-left: 4px solid #6aa84f;
}

.status-negative {
  background-color: #fff6f2;
  border-left: 4px solid #f5682e;
}

.status .summary__table--row:hover {
  cursor: pointer;
}

.status .summary__table--row:hover .account__avatar {
  filter: brightness(96%);
}

.status .summary__table--row:hover .summary__table--user {
  color: #666;
}

.status .summary__table--row:active .account__avatar,
.status .summary__table--row:active .summary__table--user,
.status .summary__table--row:active .summary__table--amount {
  transform: translateY(1px);
}

.status .summary__table--row:hover .amount__color--negative {
  color: #e9967a;
}

.status .summary__table--row:hover .amount__color--positive {
  color: #8fbc8f;
}

/* SUMMARY: GROUP STATS */

.group-stats-container {
  grid-row: 2;
}

.group-stats {
  background-color: #fffdf8;
  border-left: 4px solid #f7bf33;
}

.group-stats .summary__table {
  margin-top: 1.2rem;
}

/* --------- */
/*   ERROR   */
/* --------- */

.error-modal {
  visibility: hidden;
  position: fixed;
  margin-top: 13rem;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
  border-radius: 1.5rem;
  align-items: center;
  width: 420px;
  background: #fff;
  box-shadow: 0 0px 1rem rgba(100, 100, 100, 0.3);
  z-index: 102;
}

.error-modal-wide {
  width: 500px;
}

.error-modal.active {
  visibility: visible;
}

.error-modal__header {
  width: 100%;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #e53935;
  padding: 2rem 0;
}

.error-modal__body {
  margin: 3rem 3.5rem 3rem 6rem;
  max-height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 200px;
  overflow-y: auto;
}

.error-message {
  color: #555;
  text-align: left;
  line-height: 1.5;
  font-size: 1.8rem;
}

.error-modal__footer {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 3.5rem;
  align-items: center;
  justify-content: center;
}

.error-modal__btn-close {
  margin: auto 1rem;
  padding: 0.6rem 1.5rem;
  border-radius: 1.3rem;
  border: 1px solid #777;
  background-color: #f3f3f3;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;
}

.error-modal__btn-close:hover {
  background-color: #eaeaea;
  box-shadow: 0 0px 1.8rem rgba(200, 200, 200, 0.3);
}

/* ----------- */
/*   SPINNER   */
/* ----------- */

.spinner-modal {
  visibility: hidden;
  position: fixed;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fafafa;
  z-index: 99;
}

.spinner-modal.active {
  visibility: visible;
}

.spinner-modal .spinner-border {
  margin: 5rem;
  width: 9rem;
  height: 9rem;
  border-width: 0.3rem;
  animation: spinner-border 1.2s linear infinite;
  border-color: #eee #eee #eee transparent;
}

/* ---------- */
/*   BOTTOM   */
/* ---------- */

/* TRANSACTIONS PAGES */

.transactions__pages {
  grid-row: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4rem;
  margin-top: 4rem;
}

.transactions__pages.hidden {
  visibility: hidden;
}

.current__transactions {
  margin-right: auto;
  text-decoration: underline;
  transition: transform 0.3s ease-in;
}

.current__transactions:hover {
  text-decoration: none;
}

.btn__previous--page,
.transaction__history,
.btn__next--page {
  margin-left: 0.8rem;
}

.btn__previous--page,
.btn__next--page {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #777;
  transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}

.btn__previous--page:hover,
.btn__next--page:hover {
  background-color: #ddd;
}

.btn__previous--page:active,
.btn__next--page:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #bbb;
}

.current__transactions,
.transaction__history {
  padding: 0 0.5rem;
  font-weight: 300;
  font-size: 1.4rem;
  color: #888;
  text-align: center;
}

.current__transactions {
  cursor: pointer;
}

.current__transactions:active {
  color: #bbb;
}

/* -------- */
/*   UTIL   */
/* -------- */

/* COLORS */

.amount__color--negative {
  /* color: #ed123d; */
  /* color: #dc123d; */
  /* color: #f08080; */
  /* color: #fa8072; */
  color: #f46859;
  /* color: #ff6347; */
}

.amount__color--positive {
  /* color: #2e8b57; */
  /* color: #4a8b2e; */
  color: #5ea042;
}

.amount__color--neutral {
  /* color: gray; */
  /* color: #aaa; */
  color: #999;
}
