* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Noto Sans', sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  color: #444;
  /* background-color: #f3f3f3; */
  background-color: #fafafa;
  /* height: 100vh; */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(230, 230, 230, 0.3);
  /* background: rgba(210, 210, 210, 0.4); */
  /* background: rgba(100, 100, 100, 0.4);  */
  z-index: 1;
}

.hidden {
  display: none;
}

/* ~ ~ ~ ~ ~ */
/*  HEADER   */
/* ~ ~ ~ ~ ~ */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 2rem; */
  padding: 2.5rem;
}

/* .welcome {
    font-size: 1.9rem;
    font-weight: 500;
  } */

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo_img {
  height: 2.5rem;
}

.logo_text {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
  color: #444;
}

/* MENU: DEFAULT */

.menu {
  display: flex;
  align-items: center;
  position: relative;
}

.menu__account,
.menu__popup_account {
  display: flex;
  position: relative;
  cursor: pointer;
}

.account__avatar {
  border-radius: 50%;
  background-color: #faecff;
  width: 3.2rem;
  height: 3.2rem;
}

.account__username {
  margin: auto 1.3rem auto 0.9rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #444;
}

.menu__account:hover .account__avatar {
  filter: brightness(90%);
}

.menu__account:active .account__avatar {
  filter: brightness(80%);
}

.menu__account:hover .account__avatar,
.menu__account:active .account__avatar {
  box-shadow: 0 0 2.2rem #f6f6f6;
}

.menu__account:hover .account__username {
  color: #555;
}

.menu__account:active .account__username {
  color: #888;
}

.menu__btn--open {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding-top: 0.3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #bbb;
  background-color: transparent;
  transition: transform 0.3s ease-in;
}

.menu__btn--open:hover {
  background-color: #eee;
}

.menu__btn--open:active {
  background-color: #ccc;
}

/* MENU: POPUP */

.menu__popup {
  display: none;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  min-width: 200px;
  background: #fff;
  z-index: 2;
  overflow-y: auto;
  border-radius: 6%;
  box-shadow: 0 0px 1rem rgba(200, 200, 200, 0.3);
}

.menu__popup.active {
  display: block;
}

.menu__popup_top {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem 1rem 0.1rem;
}

.menu__popup_account {
  padding-left: 1.2rem;
  cursor: auto;
}

.menu__btn--close {
  cursor: pointer;
  margin-left: auto;
  border: none;
  border: 1px solid #eee;
  padding-bottom: 10px;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #aaa;
  background-color: #f4f4f4;
  transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}

.menu__btn--close:hover {
  background-color: #eee;
}

.menu__popup_main {
  background-color: #fff;
  padding: 1.2rem;
}

.menu__popup_item {
  padding: 0.9rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #eee;
}

.menu__popup_item:last-child {
  border-bottom: none;
}

.menu__popup_item a {
  display: block;
  text-decoration: none;
  color: #555;
}

.menu__popup_item a:hover {
  /* color: #999; */
  /* color: #64a22d; */
  color: #6eb034;
}

/* ~ ~ ~ ~ */
/*   APP   */
/* ~ ~ ~ ~ */

.app {
  position: relative;
  max-width: 110rem;
  margin: 7rem auto 4rem;
  display: grid;
  /* grid-template-columns: 7fr 4fr; */
  grid-template-columns: 2fr 1fr;
  /* grid-template-rows: auto repeat(3, 15rem) auto; */
  grid-template-rows: auto auto auto auto auto;
  gap: 2rem;

  /* NOTE This creates the fade in/out anumation */
  /* opacity: 0; */
  transition: all 1s;
}

/* GROUP */

.group__header {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.group__header .group__info {
  cursor: pointer;
}

.group__img,
.group__title {
  display: inline;
  vertical-align: middle;
}

.group__img {
  border-radius: 50%;
  background-color: #faecff;
  width: 4.3rem;
  height: 4.3rem;
}

.group__title {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 3.7rem;
  font-weight: 800;
  margin-left: 0.8rem;
}

.group__header .group__title:hover {
  color: #666;
}

.group__popup {
  display: none;
  position: absolute;
  top: -2.5rem;
  left: -3rem;
  padding: 2.5rem 3rem;
  min-width: 500px;
  background: #fff;
  z-index: 2;
  overflow-y: auto;
  border-radius: 2rem;
  box-shadow: 0 0px 1rem rgba(100, 100, 100, 0.3);
}

.group__popup.active {
  display: block;
}

.group__popup_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.group__popup_main {
  margin-top: 2.6rem;
  margin-bottom: 1rem;
}

.group__popup_item {
  display: block;
  padding: 1rem;
  margin-bottom: 0.1rem;
  border-radius: 1.2rem;
  color: #666;
  text-decoration: none;
}

.group__popup_item:hover {
  background-color: #f8f8f8;
}

.group__popup_item.link:hover {
  cursor: pointer;
  color: #6eb034;
}

.group__popup_item span,
.group__popup_item p {
  display: inline-block;
  vertical-align: middle;
}

.group__popup_item span {
  font-weight: 300;
  font-size: 2.7rem;
}

.group__popup_item p {
  font-size: 1.7rem;
  margin-left: 1.5rem;
}

.group__switch--container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 8px;
}

.group__switch {
  margin-left: 4.6rem;
  min-width: 22rem;
  vertical-align: middle;
  height: 3rem;
  padding: 0.2rem 1rem;
  border: 1px solid #aaa;
  border-radius: 0.6rem;
  font-family: inherit;
  color: #666;
  font-size: 1.7rem;
  appearance: none;
  cursor: pointer;
  position: relative;
}

.group__switch:hover {
  box-shadow: 0 0px 1rem rgba(100, 100, 100, 0.3);
}

.custom-arrow::after {
  /* triangle */
  /* content: '\25BC'; */
  /* caret */
  /* content: '\2304'; */
  /* content: 'expand_more'; */
  content: 'arrow_drop_down';
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  margin-left: -30px;
  z-index: 3;
  /* right: 10px; */
  font-family: 'Material Symbols Outlined';
  font-size: 2rem;
  pointer-events: none;
}

.group__switch_btn {
  position: relative;
  vertical-align: middle;
  height: 3rem;
  margin-left: 1.7rem;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #888;
  background-color: #f3f3f3;
  font-size: 1.5rem;
  padding: 0 2rem;
  border: 1px solid #bbb;
  border-radius: 0.6rem;
  transition: background-color 0.2s ease;
}

.group__switch_btn.active {
  background-color: #6eb034;
  color: #fff;
  border: 'none';
  font-weight: 600;
  cursor: pointer;
}

.group__switch_btn.active:hover {
  background-color: #66a330;
}

.group__switch_btn.active:active {
  background-color: #508125;
}

.group__switch_btn.active:hover,
.group__switch_btn.active:active {
  box-shadow: 0 0px 1.2rem rgba(102, 163, 48, 0.5);
}

/* ------------------ */
/*  ADD TRANSACTIONS  */
/* ------------------ */

.add-transactions {
  grid-row: 1 / span 2;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.add-expense__btn,
.add-repayment__btn {
  cursor: pointer;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  height: 3.4rem;
  width: 14.7rem;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  transition: transform 0.4s ease;
}

.add-expense__btn {
  background-color: #f97e4b;
}

.add-expense__btn:hover {
  background-color: #ea7746;
}

.add-expense__btn:active {
  background-color: #c35121;
}

.add-expense__btn:hover,
.add-expense__btn:active {
  box-shadow: 0 0 2.5rem #ecc9bb;
}

.add-repayment__btn {
  background-color: #82b968;
}

.add-repayment__btn:hover {
  background-color: #75ae5b;
  box-shadow: 0 0 2.5rem #c5debd;
}

.add-repayment__btn:active {
  background-color: #497d31;
  box-shadow: 0 0 2.5rem #c5debd;
}

/*  ADD TRANSACTION: Expense and Repayment */

.add-transaction__form_main,
.add-transaction__form_hidden {
  position: absolute;
  align-items: center;
  top: 5rem;
  min-width: 450px;
  background: #fff;
  z-index: 2;
  overflow-y: auto;
  border-radius: 1.5rem;
  box-shadow: 0 0px 1rem rgba(100, 100, 100, 0.3);
}

.add-transaction__form_main {
  left: 4rem;
}

.add-transaction__form_hidden {
  left: calc(4rem + 450px + 4rem);
  z-index: 3;
}

.add-transaction__form_header {
  width: 100%;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  padding: 2rem 0;
}

.add-transaction__form_body {
  padding: 3rem 4rem;
}

.add-transaction__form_field {
  margin-bottom: 2rem;
  /* display: block; */
  display: flex;
  align-items: center;
  height: 3.2rem;
}

.add-transaction__form_label {
  display: inline-block;
  /* display: inline-flex; */
  align-content: center;
  align-items: center;
  position: relative;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  color: #555;
  font-weight: 600;
  width: 13rem;
}

.add-transaction__form_input-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.add-transaction__form_input-text {
  border: none;
  font-family: inherit;
  color: #777;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.7rem;
  padding: 0.5rem 0.8rem;
  box-sizing: border-box;
}

/* TODO1: delete if not used */
.add-transaction__form_input-text::placeholder {
  color: #aaa;
}

.field-splitt {
  margin-top: 2.8rem;
  margin-bottom: 0rem;
  height: 1.8rem;
}

.field-splitt-comment {
  margin-bottom: 0.8rem;
}

.add-transaction__form_input-date {
  width: 14rem;
}

.add-transaction__form_input-switch {
  margin-left: 0.8rem;
  padding: 0.5rem 0.8rem;
  min-width: 18rem;
  max-width: 22rem;
  font-family: inherit;
  font-size: 1.6rem;
  color: #777;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #aaa;
  border-radius: 0.6rem;
  cursor: pointer;
}

.add-transaction__form_input-switch:hover {
  box-shadow: 0 0px 1rem rgba(120, 120, 120, 0.3);
}

.add-transaction__form_btn-edit {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin-left: 0.9rem;
  padding: 0.3rem 0.7rem;
  border-radius: 0.8rem;
  color: #666;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  cursor: pointer;
}

.add-transaction__form_btn-edit:hover {
  background-color: #ebebeb;
  color: #555;
  box-shadow: 0 0px 1.2rem rgba(200, 200, 200, 0.3);
}

.add-transaction__form_btn-edit:active {
  background-color: #e3e3e3;
  transform: translateY(3%);
}

.add-transaction__form_input-splitt-comment {
  margin-left: 14.1rem;
  font-size: 1.3rem;
  color: #666;
}

.add-transaction__form_btn-close,
.add-transaction__form_btn-submit {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  border-radius: 1.3rem;
  padding: 0.6rem 1.5rem;
  margin: auto 1rem;
  background-color: #f3f3f3;
  transition: background-color 0.2s ease;
}

.add-transaction__form_btn-close {
  cursor: pointer;
  border: 1px solid #777;
  color: #555;
  font-weight: 500;
  transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}

.add-transaction__form_btn-close:hover {
  background-color: #eaeaea;
  box-shadow: 0 0px 1.8rem rgba(200, 200, 200, 0.3);
}

.add-transaction__form_btn-close:active {
  transform: translateY(0.2rem);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #e3e3e3;
}

.add-transaction__form_btn-submit {
  color: #999;
  border: 1px solid #aaa;
}

.add-transaction__form_footer {
  display: flex;
  margin-top: 4.2rem;
  margin-bottom: 0.6rem;
  justify-content: center;
  align-items: center;
}

/* ADD TRANSACTION: Splitt Form */

.add-transaction__form_splitt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splitt-form__toggle {
  display: flex;
  background-color: #eee;
  border-radius: 2rem;
}

.splitt-form__toggle input[type='radio'] {
  display: none;
}

.splitt-form__toggle label {
  padding: 0.3rem 2rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  color: #555;
}

.splitt-form__toggle input[type='radio']:checked + label {
  background-color: #9a9999;
  color: #fafafa;
  font-weight: 700;
}

.splitt-form__table {
  min-width: 93%;
  margin-top: 3rem;
  display: none;
  /* background-color: rgb(251, 247, 232); */
}

.splitt-form__table.active {
  display: block;
}

.splitt-form__table--row {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  background-color: bisque;
}

.splitt-form__table--row img {
  margin: 0 1rem;
}

.splitt-form__table--row input[type='checkbox'] {
  cursor: pointer;
}

.splitt-form__table--user {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #666;
  min-width: 15rem;
  /* max-width: 30rem; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.splitt-form__table--amount {
  margin-left: auto;
  font-size: 1.5rem;
  color: #777;
}

.splitt-amount__input {
  margin-left: auto;
  border: none;
  font-family: inherit;
  color: #777;
  font-size: 1.5rem;
  text-align: right;
  width: 11rem;
}

.splitt-share__input {
  /* TODO1 testing */
  /* position: absolute; */
  right: 0;
  margin-left: auto;
  /* margin-left: 2rem; */
  margin-right: 0.6rem;
  border: none;
  font-family: inherit;
  color: #777;
  font-size: 1.5rem;
  text-align: right;
  width: 7rem;
  background-color: lightskyblue;
}

.splitt-share__amount {
  color: #aaa;
  right: 0;
  margin-left: 1rem;
  display: flex;
  justify-content: flex-end;
  /* TODO1 тест */
  /* width: 11rem; */
  width: 8rem;
  background-color: cornsilk;
}

.splitt-calculator {
  /* margin-left: 1.1rem; */
  /* margin-top: 2.5rem; */
  margin: 3rem 0.2rem 0 0.2rem;
  font-size: 1.7rem;
  font-weight: 700;
  /* background-color: cornsilk; */
}

.splitt-calculator__total,
.splitt-calculator__remainder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.splitt-calculator__label {
  /* margin-left: 1rem; */
  margin-left: 1.1rem;
}

.splitt-calculator__total {
  color: #555;
}

.splitt-calculator__remainder {
  color: #fff;
  font-weight: 400;
}

.splitt-calculator__remainder.below-expense-amount {
  color: #aaa;
}

.splitt-calculator__remainder.above-expense-amount {
  color: rgba(255, 85, 85, 0.8);
}

.splitt-shares-calculator .splitt-calculator__total,
.splitt-shares-calculator .splitt-calculator__remainder {
  justify-content: initial;
}

.splitt-shares__total-share,
.splitt-shares__remainder-share {
  margin-right: 0.6rem;
  margin-left: auto;
}

.splitt-shares__total-amount,
.splitt-shares__remainder-amount {
  /* width: 11rem; */
  width: 8rem;
  margin-left: 1rem;
  text-align: right;
}

/* ADD TRANSACTION: Note Form */

.add-transaction__form_note-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-transaction__form_input-note {
  font-family: inherit;
  color: #6b6b6b;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 2rem;
  width: 100%;
  height: 27rem;
  border-radius: 1.2rem;
  border: 1px solid #bbb;
  resize: none;
}

.add-transaction__form_input-note::placeholder {
  color: #aaa;
  font-weight: 300;
}

.add-transaction__form_input-note:focus {
  outline: none;
}

.add-expense__form_note__btn--save.active,
.add-repayment__form_note__btn--save.active {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.add-expense__form_note__btn--save.active:hover,
.add-repayment__form_note__btn--save.active:hover {
  transform: translateY(-0.06rem);
}

.add-expense__form_note__btn--save.active:active,
.add-repayment__form_note__btn--save.active:active {
  transform: translateY(0rem);
}

.add-transaction__form_input-note__counter {
  display: flex;
  justify-content: right;
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #999;
  font-weight: 500;
}

/* Emoji Picker */

.emoji-input {
  display: none;
  width: 3.9rem;
  font-size: 2.4rem;
  cursor: default;
  outline: none;
}

.emoji-input.active {
  display: inline-flex;
}

.btn__emoji-picker--switch,
.btn__emoji-remove {
  min-width: 8rem;
  /* padding: 0.5rem 0.8rem; */
  font-size: 2.2rem;
  cursor: pointer;
  transition: transform 0.05s ease-in;
}

.btn__emoji-picker--switch {
  color: #777;
  font-size: 2.2rem;
  font-weight: 300;
  margin-left: 0.9rem;
}

.btn__emoji-remove {
  display: none;
  font-weight: 300;
  color: #bbb;
}

.btn__emoji-remove.active {
  display: flex;
}

.btn__emoji-picker--switch.hidden {
  display: none;
}

.btn__emoji-picker--switch:hover {
  color: #5c9144;
  transform: translateY(-0.06rem);
}

.btn__emoji-picker--switch:active {
  color: #497d31;
  transform: translateY(0rem);
}

.btn__emoji-remove:hover {
  color: red;
}

.btn__emoji-remove:active {
  color: rgb(193, 8, 8);
}

.emoji-picker-container {
  display: none;
  position: absolute;
  position: absolute;
  margin-left: 30rem;
  margin-top: 23.8rem;
  z-index: 4;
}

.emoji-picker-container.active {
  display: block;
}

/*  ADD EXPENSE  */

.add-expense__form,
.add-expense__form_payer,
.add-expense__form_splitt,
.add-expense__form_note,
.add-expense__form_emoji {
  display: none;
}

.add-expense__form.active,
.add-expense__form_payer.active,
.add-expense__form_splitt.active,
.add-expense__form_note.active,
.add-expense__form_emoji.active {
  display: block;
}

.add-expense__form_header {
  background-color: #f97e4b;
}

.add-expense__form_hidden_header,
.add-expense__form_note__btn--save.active {
  background-color: #c9653b;
}

.add-expense__btn-edit.active {
  border: 1px solid rgb(201, 101, 59);
  background-color: rgba(201, 101, 59, 0.1);
}

.add-transaction__form_input-note#expense-note:focus {
  border: 1.3px solid rgba(201, 101, 59, 0.5);
}

.add-expense__form_note__btn--save.active:hover {
  box-shadow: 0 0px 1.2rem rgba(201, 101, 59, 0.5);
}

.add-expense__form_note__btn--save.active:active {
  background-color: #af5933;
  box-shadow: 0 0px 1rem rgba(201, 101, 59, 0.2);
}

/*  ADD REPAYMENT  */

.add-repayment__form,
.add-repayment__form_note {
  display: none;
}

.add-repayment__form.active,
.add-repayment__form_note.active {
  display: block;
}

.add-repayment__form_header {
  background-color: #8cbf74;
}

.add-repayment__form_hidden_header,
.add-repayment__form_note__btn--save.active {
  background-color: #5c9144;
}

.add-repayment__btn-edit.active {
  border: 1px solid rgb(92, 145, 68);
  background-color: rgba(92, 145, 68, 0.1);
}

/* .add-repayment__form .add-transaction__form_input-text {
  margin-left: 1.2rem;
} */

.add-repayment__form button {
  height: 3rem;
  padding: 0 0.8rem;
}

.add-transaction__form_input-note#repayment-note:focus {
  border: 1.3px solid rgba(92, 145, 68, 0.9);
}

.add-repayment__form_note__btn--save.active:hover {
  box-shadow: 0 0px 1.2rem rgba(92, 145, 68, 0.5);
}

.add-repayment__form_note__btn--save.active:active {
  background-color: #719560;
  box-shadow: 0 0px 1rem rgba(92, 145, 68, 0.2);
}

/* ~ ~ ~ ~ */
/*  MAIN   */
/* ~ ~ ~ ~ */

/* MOVEMENTS (ANNOTATIONS) */

.movements__annotations {
  grid-row: 2;
  row-gap: 0.5rem;
  justify-content: flex-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: -1.2rem;
  margin-left: auto;
  align-items: center;
  padding: 0rem 1rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  color: #555;
  /* position: relative; */
  /* grid-gap: 2rem; */
}

.movements__annotations--share {
  margin-left: 2.5rem;
  width: 10.5rem;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

/* MOVEMENTS */

.movements {
  font-size: 1.5rem;
  grid-row: 3 / span 2;
  overflow: scroll;
  /* grid-row: span 3; */
  /* background-color: #fff; */
  /* border-radius: 0.5rem; */
}

.movements__frame {
  border-radius: 1rem;
  overflow: hidden;
}

.movements__row {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #f6f6f6;
  /* border-bottom: 1px solid #fafafa; */
}

.movements--repayment {
  background-color: #f3fcef;
}

.repayment__marker {
  position: absolute;
  left: -2.2rem;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #8ad646;
}

.movements__date {
  margin: 0 0.2rem;
  padding-top: 0.1rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #666;
  /* text-transform: uppercase; */
}

.movements__icon {
  font-size: 1.6rem;
  margin-left: 1.6rem;
}

.movements__title {
  font-size: 1.7rem;
  margin-left: 2rem;
  font-weight: 700;
  color: #333;
}

.movements__repayment--destination {
  font-weight: 400;
}

.movements__value {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: auto;
  color: #555;
}

.movements__share {
  margin-left: 2.5rem;
  width: 10.5rem;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ~ ~ ~ ~ */
/*  ASIDE  */
/* ~ ~ ~ ~ */

/* OPERATION (generic) */

.operation {
  grid-column: 2;
  padding: 1.8rem 2rem;
  color: #333;
  /* grid-row: 3 / span 2; */
  /* grid-column: 2 / 3; */
  /* border-radius: 1rem; */
}

.operation h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #444;
}

.operation p {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
  color: #555;
}

.operation__table--row {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin: 0.6rem auto;
}

.operation__table--row .account__avatar {
  margin-right: 0.8rem;
}

.operation__table--avatar {
  font-size: 2.3rem;
  margin-left: 0.3rem;
  margin-right: 0.8rem;
}

.operation__table--user {
  width: 18rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.operation__table--amount {
  font-weight: 300;
  margin-left: auto;
}

/* SUMMARY: STATUS */

.status {
  grid-row: 3;
  background-color: #fff6f2;
  border-left: 4px solid #f5682e;
}

/* SUMMARY: GROUP STATS */

.group-stats {
  grid-row: 4;
  background-color: #fffdf8;
  border-left: 4px solid #f7bf33;
}

/* OPERATIONS FIXME: to delete */

.operation--transfer {
  /* grid-row: 3; */
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  /* grid-row: 4; */
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  /* grid-row: 3 / span 1; */
  /* grid-row: 3; */
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interest */

.form.form--transfer {
  grid-row: 3 / span 1;
}
.form.form--loan {
  grid-row: 4;
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 4;
}

/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

/* ~ ~ ~ ~ ~ */
/*  BOTTOM   */
/* ~ ~ ~ ~ ~ */

.movements__pages {
  grid-row: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 1rem; */
}

.current__transactions {
  margin-right: auto;
  text-decoration: underline;
  transition: transform 0.3s ease-in;
}

.current__transactions:hover {
  text-decoration: none;
}

.btn__previous--page,
.transaction__history,
.btn__next--page {
  margin-left: 0.8rem;
}

.btn__previous--page,
.btn__next--page {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #777;
  transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}

.btn__previous--page:hover,
.btn__next--page:hover {
  background-color: #ddd;
}

.btn__previous--page:active,
.btn__next--page:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #bbb;
}

.current__transactions,
.transaction__history {
  padding: 0 0.5rem;
  font-weight: 300;
  font-size: 1.4rem;
  color: #888;
  text-align: center;
}

.current__transactions {
  cursor: pointer;
}

.current__transactions:active {
  color: #bbb;
}

/* SUMMARY (Jonas) FIXME: */
.summary {
  /* grid-row: 5 / 6; */
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

.logout-timer {
  grid-row: 5;
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}

.amount__color--negative {
  color: red;
}

.amount__color--positive {
  color: green;
}

.amount__color--neutral {
  color: gray;
}
